@charset "utf-8";

.attention {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #cc0000;
align: right;
font-weight: bold;
}

.statustext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #ff9c00;
align: right;
font-weight: bold;
}

/* -------------------------------------------------------------------------------*/
/* navi backend */
/* -------------------------------------------------------------------------------*/

.navi {
background-color: #dddddd;
padding: 10px 10px 10px 10px;
-moz-border-radius:10px; /* Firefox */
-webkit-border-radius:10px; /* Safari, Chrome */
-khtml-border-radius:10px; /* Konqueror */
border-radius:10px; /* CSS3 */
}

/* -------------------------------------------------------------------------------*/
/* generic */
/* -------------------------------------------------------------------------------*/

body {
background-repeat: no-repeat;
margin: 0px 0px 0px 10px;
padding: 0px 0px 0px 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 150%;
color: #66666;
background-color: #e9e9e9;
}

h1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-style: normal;
font-weight: bold;
}

table {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 150%;
color: #66666;
border-width: 1px;
}

td {

}

/* ***** footer navigation */

div.footer {
height:20px;
background: no-repeat top center url(../images/footer.png);
margin: 0 auto;
padding: 0px 0px 0px 0px;
/* width: 690px; */
/* height: 66px; */
text-align: left;
}


div#footerlink {
line-height: 130%;
color: #606060;
font-size: 9px;
text-decoration: none;
}

div#footerlink a {
color: #c0c0c0;
font-size: 9px;
text-decoration: underline;
}

div#footerlink a:hover {
color: #000000;
font-size: 9px;
text-decoration: none;
}

/* ***** standard */

a {
text-decoration:underline;
color:#323232;
}

a:link {
text-decoration:underline;
color:#323232;
}

a:visited {
text-decoration:underline;
color:#323232;
}

a:hover {
text-decoration:underline;
color:#12234b;
}

/* -------------------------------------------------------------------------------*/
/* content */
/* -------------------------------------------------------------------------------*/

div.header {
height:160px;
background: no-repeat top center url(../images/header.png);
margin: 0 auto;
padding: 0px 0px 0px 0px;
/* width: 690px; */
/* height: 66px; */
text-align: left;
}

div.content {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0 auto;
padding: 0px 0px 0px 0px;
width: 690px;
text-align: left;
}

div.maincol {
float: left;
margin: 0px 0px 0px 10px;
padding: 0px 0px 0px 0px;
width: 690px;
text-align: left;
background-color: #ffffff;
}

/* ************************************************************ */
/* ********** form */
/* ************************************************************ */

div.formheader {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #ffffff;
font-style: normal;
font-weight: bold;
margin: 0px 0px 0px 0px;
padding: 5px 5px 5px 5px;
width: 690px;
text-align: left;
}

div.form {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #000000;
font-style: normal;
font-weight: normal;
margin: 0px 0px 0px 0px;
padding: 5px 5px 5px 5px;
width: 690px;
text-align: left;
}

INPUT.TEXTAREA {
	font-family:Verdana,Arial,sans-serif;
	width : 290px;
	height: 50px;
	font-size:10px;
	color: #000000;
	border-left: 1px solid #1E2B3B;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
	background:#FFFFFF;
}

.TEXTAREARED {
	font-family:Verdana,Arial,sans-serif;
	width : 290px;
	height: 50px;
	font-size:10px;
	color: #000000;
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
	background:#FFFFFF;
}

INPUT.TEXTFIELD {
	font-family:Verdana,Arial,sans-serif;
	width : 290px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #1E2B3B;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
}

INPUT.TEXTFIELDRED {
	font-family:Verdana,Arial,sans-serif;
	width : 290px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}

INPUT.TEXTFIELDLONG {
	font-family:Verdana,Arial,sans-serif;
	width : 600px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #1E2B3B;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
}

INPUT.TEXTFIELDSMALL {
	font-family:Verdana,Arial,sans-serif;
	width : 100px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #1E2B3B;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
}

INPUT.TEXTFIELDPLZ {
	font-family:Verdana,Arial,sans-serif;
	width : 75px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #1E2B3B;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
}

INPUT.TEXTFIELDPLZRED {
	font-family:Verdana,Arial,sans-serif;
	width : 75px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}

INPUT.TEXTFIELDORT {
	font-family:Verdana,Arial,sans-serif;
	width : 210px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #1E2B3B;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
}

INPUT.TEXTFIELDORTRED {
	font-family:Verdana,Arial,sans-serif;
	width : 210px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}

INPUT.TEXTFIELDTEL {
	font-family:Verdana,Arial,sans-serif;
	width : 142px;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #1E2B3B;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
}

SELECT.DROPDOWN {
	font-family:Verdana,Arial,sans-serif;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #f;
	border-right: 1px solid #1E2B3B;
	border-top: 1px solid #1E2B3B;
	border-bottom: 1px solid #1E2B3B;
}

SELECT.DROPDOWNRED {
	font-family:Verdana,Arial,sans-serif;
	font-size:10px;
	background-color: #FFFFFF;
	color: #1E2B3B;
	border-left: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}

INPUT.SUBMIT {
	font-family:Verdana,Arial,sans-serif;
	width : 275px;
	height : 18px;
	font-size:11px;
	font-weight : bold;
	background-color: #ffffff;
	color: #000000;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}