<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4d</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>c4ddoc</string>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>C4DC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>l4d</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D Layout</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cat4d</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D Catalog</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lib4d</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D Preset Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cob</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D COFFEE Binary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cof</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D COFFEE Source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D COFFEE Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xgr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CINEMA 4D XGroup</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>CINEMA 4D</string>
	<key>CFBundleGetInfoString</key>
	<string>CINEMA 4D 17.032 © 1989-2015 MAXON Computer GmbH</string>
	<key>CFBundleIconFile</key>
	<string>c4dapp</string>
	<key>CFBundleIdentifier</key>
	<string>net.maxon.cinema4d</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CINEMA 4D</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>17.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>17.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSMainNibFile</key>
	<string>mainmenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>QuartzGLEnable</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CINEMA 4D Document</string>
			<key>UTTypeIconName</key>
			<string>c4ddoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.maxon.cinema4d.c4d</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>c4d</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CINEMA 4D COFFEE Script</string>
			<key>UTTypeIdentifier</key>
			<string>net.maxon.cinema4d.csc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>csc</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CINEMA 4D COFFEE Source</string>
			<key>UTTypeIconName</key>
			<string>c4ddoc</string>
			<key>UTTypeIdentifier</key>
			<string>net.maxon.cinema4d.cof</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>cof</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
