/* document */

body, html {
	-webkit-font-smoothing: antialiased;
}

html {
	position: relative;
	min-height: 100%;
}

/* navigation */

.navbar-fixed-top {
	position: fixed;
}

.nav .filter {
	width: 95%;
}

#navigation #navbar-spinner {
	width: 35px;
	margin-top: 15px;
	float: left;
}

.rdata-value {
	white-space: normal;
}

#navigation .navbar .nav > li {
	z-index: 9999999;
}

#navigation .navbar {
	margin-bottom: 0px !important;
}

#navigation .navbar-header {
	white-space: nowrap;
	overflow: hidden;
}

#navigation .navbar-brand-container {
	display: inline-block;
	height: 45px;
	overflow: hidden;
	white-space: nowrap;
}

#navigation .navbar-brand {
	padding: 12px !important;
	padding-left: 20px !important;
}

#navigation .navbar-brand img {
	padding: 0px;
	margin-right: 10px;
}

#navigation .navbar-toggle {
	color: #CCCCCC;
	background-color: #222222;
}

#navigation #navbar-toggle button {
	margin-right: 20px;
}

/* notifications */

#notifications {
	top: 50px;
	width: 80%;
	position: fixed;
	right: 0;
	left: 10%;
	z-index: 100;
	text-align: center;
}

#notifications .static {
	padding-top: 1px;
}

#notifications .alert {
	-webkit-box-shadow: 0 5px 5px -5px #ccc;
	-moz-box-shadow: 0 5px 5px -5px #ccc;
	box-shadow: 0 5px 5px -5px #ccc;
	padding: 4px;
	padding-left: 35px;
	padding-right: 35px;
	text-align: center;
	cursor: pointer;
}

#notifications .container-fluid {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#notifications .alert {
	margin-bottom: 0px !important;
}

#notifications .alert-dismissable button {
	margin-top: 2px;
}

#global_username {
	font-size: 0.8em;
	float: right;
	margin-right: 20px;
	padding-top: 4px;
}

/* containers and container layouting */

#content {
	margin-top: 50px;
}

.static {
	padding-top: 25px;
	padding-bottom: 50px;
	display: none;
}

.templates {
	display: none;
}

.hscrollable {
	overflow-x: auto;
}

.vscroll {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	overflow-y: auto;
}

.has_controls {
	padding-top: 0px;
}

.col-nopadding {
	padding: 0px;
}


.list-group-item, .list-group-item-custom {
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	padding-top: 3px;
	padding-bottom: 3px;
}

.assetitem .btn {
	padding-top:4px; 
	margin-left:5px;
}

.assetitem .lightbox {
	margin-left: 0px;
	margin-right: 5px;
}

.tab-content {
	margin-top: 5px;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.norightpadding {
	padding-right: 0 !important;
}

.nooverflow {
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.alignright {
	text-align: right;
}

.textarea-disable {
	cursor: text !important;
	background-color: #FFF !important;
}

/* list selection and filtering */

.scrollpane_control {
	padding-top: 10px;
	border-bottom: 1px solid #ccc !important;
}

.scrollpane_control .btn {
	margin: 8px 0px 10px 5px;
}

.scrollpane_control_offset {
	padding-top: 10px;
}

.select_btn,
.action_btn {
	margin-top: 8px !important;
	margin-bottom: 10px !important;
}


.btn_clear {
    color: #ccc;
    cursor: pointer;
    font-size: 13px;
    height: 14px;
    position: absolute;
    right: 5px;
    top: 12px;
    z-index: 9999;
}

/* list and detail panels */

.panel {
	position: relative;
	margin-bottom: 10px;
}

.panel-body {
	padding-top: 0;
}

.panel-body hr {
	padding: 0px;
	margin: 0px;
	padding-bottom: 3px;
}

.panel-heading input {
	margin: 0px;
	margin-top: 2px;
	display: inline-block;
}

.panel-title {
	display: inline-block;
	width: 100%;
}

.panel-heading .panel-title a {
	display: block;
	height: 20px;
}

.panel-heading .glyphicon {
	position: absolute;
	right: 12px;
}

input::-ms-clear {
    display: none;
}

.itemlist .panel-title {
	padding-right: 26px;
	font-weight: 400;
	font-size:14px;
	line-height: 1.5
}

.itemlist .panel-body {
	padding: 5px 15px;
}

.itemlist .panel-heading {
	position: relative;
}

.itemlist .panel-heading input[type=checkbox] {
	font-size: 12px;
	width: 12px;
	height: 12px;
	float: left;
	top: 3px;
}

.itemlist .panel-heading {
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
	padding: 0px 3px 1px 15px;
}

.itemlist .alert {
	padding: 7px;
	height: 38px;
	margin-bottom: 10px;
}

/* login */

#login .row {
	padding-right: 10px;
	padding-left: 10px;
}

#login .well {
	max-width: 500px;
	margin: auto;
}

#login #login-container .media-body {
	text-align: center;
}

/* jobs */

#jobs .progress {
	margin-top: 2px;
	margin-bottom: 5px;
	padding: 0px;
	background-color: #e6e6e6;
}

.progress-bar span
{
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

#jobs #jobs-details_preview_img_container {
	width: 100%;
	text-align: center;
	background-color: #ececec !important;
	position: relative;
}

#jobs #jobs-details_preview_img_container .img-responsive {
	margin-left: auto !important;
	margin-right: auto !important;
}

#jobs .btn-group-preview {
	position: absolute;
	z-index: 5;
	right: 5px;
	top: 5px;
}
#jobs .btn-group-preview .btn{
	color: #999;
	padding-top: 0;
	padding-bottom: 0;
	font-size:23px;
}

#jobs #jobs-details_console-textarea, #network-log {
	font-family: monospace !important;
	width: 100%;
	font-size: 12px;
	resize: vertical;
}

#jobs .preview-alert {
	position: relative;
	padding: 7px;
	padding-left: 15px;
}

#jobs .assetitem .badge-size {
	margin-top: 2px;
	margin-right: 8px;
}

#jobs .assetitem .badge-light {
	background-color: #D0D0D0;
	color: #333;
    font-weight: normal;
}

#jobs .list_item_btn {
	float: right;
	margin-left: 5px;
}

#jobs .file_selector {
	z-index: 999;
	line-height: 0;
	font-size: 18px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	cursor: pointer;
}

#jobs .sortable-placeholder {
	background-color: #efefef;
	border-radius: 3px;
	padding: 0;
	margin: 0;
}

#jobs #jobs-list .job-item-container:first-child .stop_able .glyphicon-sort {
	visibility: hidden;
}
/* network */

#network #network-details_status {
	margin-left: 5px;
}

/* users */

#users #user-details_form_description {
	resize: vertical;
}

/* footer */

#footer {
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: white;
	padding-bottom: 0px !important;
	padding-left: 10px;
}

#footer .container-fluid {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#footer hr {
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* general */

input[type=checkbox] {
	font-size: 16px;
	position: relative;
	border: 1px solid #262626;
	display: inline-block;
	line-height: 1em;
	margin: 0;
	margin-right: 10px;
	padding: 0;
	width: 16px;
	background-color: #428bca;
	height: 1em;
	vertical-align: text-top;
	background: -webkit-linear-gradient(
	top, rgba(255,255,255,0.4), rgba(255,255,255,0.1)
	);
	-webkit-appearance: none;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.1), inset 0 0 1px rgba(255,255,255, 0.4);
	-webkit-border-radius: 3px;
}

input[type=checkbox]:checked::after {
	position: absolute;
	content: '';
	left: 15%;
	top: 15%;
	height: 45%;
	width: 75%;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	-webkit-box-shadow: -1px 1px 0 rgba(255,255,255,.8);
	-webkit-transform: rotate(-45deg);
}

/* webkit */

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
	background: rgba(200, 200, 200, 0.8);
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}

.table {
	margin-top: 10px;
	font-size: 10px;
}

.table.table-condensed td {
	padding: 2px;
}

.table-sortable th .glyphicon {
	display:none;
}

.table-sortable th.tablesorter-headerUnSorted .glyphicon-sort {
	display: inline-block;
}

.table-sortable th[class$="Asc"] .glyphicon-sort-by-attributes-alt {
	display: inline-block;
}

.table-sortable th[class$="Desc"] .glyphicon-sort-by-attributes {
	display: inline-block;
}

.panel-heading .btn-toolbar {
	right: 12px;
	top: 3px;
}
.panel-heading .btn-toolbar .glyphicon {
	position:relative;
	right: auto;
	top: 1px;
}

#jobs-item-active-divider_template .list-group-item-info {
	padding-top: 2px; 
	padding-bottom: 2px;
}

.tablesorter-header {
	cursor: pointer;
}

.job_progress_bar {
	position: relative;
	padding-right: 0;
}

#jobs-details .panel-heading,
#network-details .panel-heading,
#users-details .panel-heading {
	overflow: visible;
}

#jobs-details .panel,
#network-details .panel,
#users-details .panel{
	border-color: #e3e3e3;
}

#monitor .panel-heading {
	padding:0 15px;
	height: 40px;
}
#monitor .panel-title {
	width: auto;
	padding-top: 10px;
	
}

.alert-no-jobs {
	margin-top: 30px;
}

.input-group-xs .form-control,
.input-group-xs .input-group-addon,
.input-group-xs .input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
	margin-top: 8px;
	margin-bottom: 10px;
}

.filter-container {
	position: relative;
}

.filter-container .btn_clear {
	right: 5;	
}

.btn-group-filter {
	position:absolute;
	right: 15px;
	top:0;
	max-width: 300px;
}

.list-group-item.accordion {
	padding: 0;
}

.accordion {
    margin-bottom: 20px;
}
.accordion-group {
    margin-bottom: 2px;
}
.accordion-heading {
    border-bottom: 0 none;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-toggle {
    cursor: pointer;
}
.accordion-inner {
    border-top: 1px solid #e5e5e5;
    padding: 9px 15px;
}

#jobs-item-active-divider_template {
	clear:both;
	display:block;
}

#jobs .ui-sortable-helper .panel,
#monitor .ui-sortable-helper {
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#monitor td .glyphicon-sort {
	visibility: hidden;
}
#monitor .jobs-sortable tr.info .glyphicon-sort {
	visibility: visible;
	cursor: pointer;
}
#monitor .jobs-sortable tr.info:first-child .glyphicon-sort {
	visibility: hidden;
}
#monitor .jobs-sortable tr.info {
	cursor: pointer;
}
#monitor .jobs-sortable tr.info:first-child {
	cursor: default;
}
#monitor .hscrollable {
	margin-top: 10px;
}

.table th .glyphicon {
	font-size: 11px;	
}

.column-selector.open .dropdown-menu {
	left: auto;
	right: 0;
}